body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    background-color: #61a382;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  /* Carousel Styles */
  .carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-images img {
    width: 100%;
    flex-shrink: 0;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }
  
  .carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .product-card h2 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .product-card p {
    color: #333;
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .buttons button {
    background-color: #8fbea7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #5ca07e;
  }
  
  .footer {
    background-color: #417159;
    text-align: center;
    padding: 10px;
    position: relative;
  }
  
  .carousel-text {
    position: absolute;
    bottom: 20px; /* Adjust the position of the text */
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
  }
  