
body {
    font-family: Arial, sans-serif;
    background: #fafafa;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button, .button {
    width: 100%;
    padding: 10px;
    background-color: #3897f0;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover, .button:hover {
    background-color: #2b76d2;
}

.error {
    color: red;
    font-size: 14px;
}

.signup-link, .login-link {
    margin-top: 20px;
}

.signup-link a, .login-link a {
    color: #3897f0;
    text-decoration: none;
}

.home-content {
    text-align: center;
}

.logout-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #d32f2f;
}
